params {
    // Config Params
    config_profile_name        = 'UIUC HPCBio Partitions (public and private)'
    config_profile_description = 'High Performance Computing in Biology (HPCBio) - University of Illinois Urbana-Champaign'
    config_profile_contact     = 'Chris Fields (@cjfields)'
    config_profile_url         = 'https://biocluster.igb.illinois.edu'

    // Default Resources
    max_memory                 = 64.GB
    max_cpus                   = 16
    max_time                   = 1.h
}

process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 16,
        time: 1.h
    ]
    executor       = 'slurm'
    scratch        = false
    maxRetries     = 2

    // Default partitions
    time           = params.max_time
}

profiles {
    hpcbio {
        params {
            config_profile_name        = 'Biocluster - HPCBio partition'
            config_profile_description = 'High Performance Computing in Biology (HPCBio) - University of Illinois Urbana-Champaign'
            config_profile_contact     = 'Chris Fields (@cjfields)'
            config_profile_url         = 'https://biocluster.igb.illinois.edu'
            max_memory                 = 1500.GB
            max_cpus                   = 36
        }

        process {
            resourceLimits = [
                memory: 1500.GB,
                cpus: 36,
                time: 6.h
            ]
            queue          = 'hpcbioamd,hpcbio'
            scratch        = '/scratch'
        }

        executor {
            queueSize = 12
            submitRateLimit = '3 sec'
        }

        singularity {
            enabled    = true
            autoMounts = true
            cacheDir   = '/home/groups/hpcbio/singularity'
        }

    }

    biocluster {
        params {
            config_profile_name        = 'Biocluster - default partition - standard resources'
            config_profile_description = 'High Performance Computing in Biology (HPCBio) - University of Illinois Urbana-Champaign'
            config_profile_contact     = 'Chris Fields (@cjfields)'
            config_profile_url         = 'https://biocluster.igb.illinois.edu'
            max_memory                 = 256.GB
            max_cpus                   = 24
        }

        process {
            resourceLimits = [
                memory: 256.GB,
                cpus: 24,
                time: 6.h
            ]
            queue          = 'normal'
            scratch        = '/scratch'
        }

        executor {
            queueSize = 6
            submitRateLimit = '3 sec'
        }

        singularity {
            enabled    = true
            autoMounts = true
        }

    }

    biotech {
        params {
            config_profile_name        = 'Biotech Center - Private HPC'
            config_profile_description = 'High Performance Computing in Biology (HPCBio) - University of Illinois Urbana-Champaign'
            config_profile_contact     = 'Chris Fields (@cjfields)'
            config_profile_url         = 'https://biotech.illinois.edu'
            max_memory                 = 500.GB
            max_cpus                   = 48
        }

        process {
            resourceLimits = [
                memory: 500.GB,
                cpus: 48,
                time: 24.h
            ]
            maxRetries     = 2
            queue          = 'normal'
            scratch        = '/scratch'
        }

        executor {
            queueSize = 12
            submitRateLimit = '3 sec'
        }

        apptainer {
            enabled    = true
            autoMounts = true
        }
    }

    // Commenting out for now, this needs to be tested first
    // aces_campus_cluster {
    //     params {
    //         config_profile_name        = 'UIUC Campus Cluster - ACES allocation - TEST ONLY'
    //         config_profile_description = 'High Performance Computing in Biology (HPCBio) - University of Illinois Urbana-Champaign'
    //         config_profile_contact     = 'Chris Fields (@cjfields)'
    //         config_profile_url         = 'https://campuscluster.illinois.edu'
    //         max_memory                 = 72.GB
    //         max_cpus                   = 24
    //     }

    //     process {
    //         resourceLimits = [
    //             memory: 72.GB,
    //             cpus: 24,
    //             time: 6.h
    //         ]
    //         queue          = 'aces'
    //     }
    // }
}
