/*
 * -----------------------------------------------------
 * UIUC IGB Biocluster configuration for HPCBio group
 * -----------------------------------------------------
 * https://biocluster.igb.illinois.edu
 * https://hpcbio.illinois.edu
 * 
 * NOTE: this is currently set up for internal HPCBio use.
 * 
 * If you are trying to use this configuration for non-HPCBio 
 * use please contact us for consultation on the best setup
 * for your use case
 * 
 */

singularity {
    enabled    = true
    cacheDir   = "/home/groups/hpcbio/singularity"
    autoMounts = true
}

params {
    config_profile_description = "University of Illinois IGB Biocluster set up, base provided by nf-core/configs."
    config_profile_contact     = "Chris Fields (@cjfields)"
    config_profile_url         = "https://biocluster.igb.illinois.edu/"
    igenomes_base              = "/home/groups/hpcbio/references/nextflow"
    scratch                    = "/scratch"
    max_memory                 = 500.GB
    max_cpus                   = 36
    max_time                   = 1000.h
    genomes {
        "NC_045512.2" {
          fasta = "/home/groups/hpcbio/data/COVID/GCF_009858895.2_ASM985889v3_genomic.fna"
          gff   = "/home/groups/hpcbio/data/COVID/GCF_009858895.2_ASM985889v3_genomic.gff"
        }
        "MN908947.3" {
          fasta = "/home/groups/hpcbio/data/COVID/GCA_009858895.3_ASM985889v3_genomic.fna"
          gff   = "/home/groups/hpcbio/data/COVID/GCA_009858895.3_ASM985889v3_genomic.gff"
        }
    }
}

process {
    resourceLimits = [
        memory: 500.GB,
        cpus: 36,
        time: 1000.h
    ]
    executor       = "slurm"
    queue          = "hpcbioamd,hpcbio"
    scratch        = params.scratch
    // Increasing maxRetries, this will overwrite what we have in base.config
    maxRetries     = 3
    // clusterOptions = params.hpc_account
    stageInMode    = "symlink"
    stageOutMode   = "rsync"
}

executor {
    queueSize = 8
}
