/*
 * -------------------------------------------------
 *  HPC cluster config file - UIUC IGB Biocluster
 * -------------------------------------------------
 * http://biocluster.igb.illinois.edu
 * 
 * NOTE: this is currently set up for internal HPCBio use, note the below settings may need to be 
 * modified if you are trying to use this for non-HPCBio use
 * 
 */

singularity {
    enabled = true
    cacheDir = "/home/groups/hpcbio/singularity"
    autoMounts = true
}

params {
    config_profile_description = 'University of Illinois IGB Biocluster set up, base provided by nf-core/configs.'
    config_profile_contact = 'Chris Fields (cjfields - at - illinois.edu)'
    config_profile_url = 'https://http://biocluster.igb.illinois.edu/'
    igenomes_base = '/home/groups/hpcbio/references/nextflow'
    max_memory = 500.GB
    max_cpus = 24
    max_time = 1000.h

    genomes {
        'NC_045512.2' {
          fasta = "/home/groups/hpcbio/data/COVID/GCF_009858895.2_ASM985889v3_genomic.fna"
          gff   = "/home/groups/hpcbio/data/COVID/GCF_009858895.2_ASM985889v3_genomic.gff"
        }
        'MN908947.3' {
          fasta = "/home/groups/hpcbio/data/COVID/GCA_009858895.3_ASM985889v3_genomic.fna"
          gff   = "/home/groups/hpcbio/data/COVID/GCA_009858895.3_ASM985889v3_genomic.gff"
        }
    }   
}

process {
    executor = 'slurm'
    queue = 'hpcbio' 
    // Increasing maxRetries, this will overwrite what we have in base.config
    maxRetries = 3
}

executor {
    queueSize = 4
}
